.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p,.user h2 ,.content{
  font-family:'游明朝','Times New Roman','serif';
}

.all{
  background-image:url(suizokukan_jinbeizame.png);
  background-size:600px;
  background-repeat:repeat; 
}
.clear{
  clear:both;
}
textarea {
  resize: none;
}
.user{
  margin:10px;
  float:left;
  border:5px outset rgb(255, 166, 0);
  background-color:yellow;
  height:300px;
}
.user h2{
  text-align:center;
}
.haku{
  float:left;
  padding-right:5px;
  font-family:'ヒラギノ明朝';
}
.user img{
  height:100px;
  width:100px;
  border:1px solid black;
}
.content img{
  height:30px;
  width:30px
}
.content{
  font-size:30px;
  margin:10px 10px;
  border:10px outset rgb(0, 195, 255);
  background-color:rgb(208, 252, 253);
}
.ichiran{
  font-size:15px;
  padding-bottom:20px;
}
.ichiran span{
  float:left;
  padding-right:20px;
}
.list{
  word-break: break-all;

}
